In [187]:
import pandas as pd
import datetime as dt
import numpy as np

In [188]:
from config import sheet_id, sheet_name

In [189]:
import os
os.getcwd()

'c:\\Users\\jimmy\\Documents\\Data Science Folder\\basecamp_salary_dashboard'

In [190]:
# import sheet_id and sheet_name from a local config file
sheet_id = sheet_id
sheet_name = sheet_name
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
# replace whitespace in the URL
url = url.replace(" ", "%20")

In [191]:
# specify columns to read in (all but the "Company Name" column)
df_raw = pd.read_csv(url, usecols = lambda x: x != "Company Name", parse_dates = ['Submitted At'])

In [192]:
df_raw.head()

,I am a:,Industry,Job Title,Location,Flexibility,# Years,Pay,I charge per:,Bonuses/ Commissions,Equity,...,Specialty expertise,Field of work,City,Government role?,Parental leave,Pronouns,Race/Ethnicity,I identify as part of the following communities,Submitted At,Token
0,Full-Time Employee,Active Lifestyle,North America Marketing Manager,Oregon,Hybrid/Work From Home,15+,95000,/Year,10000.0,False,...,NaN,Marketing & Branding,"Portland, OR",Nope,6 months,She/Her,NaN,"LGBTQIA2S+, Woman",2022-10-29 22:59:19,4uhvwonebzd2xry77gpme4uhvwn6pmnd
1,Full-Time Employee,Running,PR Director,Colorado,Fully Remote,8,165000,/Year,NaN,True,...,NaN,PR & Communications,Denver,Nope,3 months,He/Him,Latino/Hispanic,LGBTQIA2S+,2022-10-29 22:56:19,9c19jk3coesvcdu9c19px0ltwrzj1cbn
2,Full-Time Employee,Travel/Tourism,Vice President of Brand Marketing,California,Fully Remote,5,150000,/Year,4000.0,False,...,"Visual / Graphic Design, Project Management, M...",Hospitality & Adventure Tourism,San Francisco,Nope,2 months,She/Her,NaN,Woman,2022-10-29 22:23:42,7bnz7dq3fbcyg3xf0vzx97bnz7pn3bij
3,Full-Time Employee,Bike,Store Manager,Pennsylvania,In-Office,6,66000,/Year,15000.0,True,...,"Retail management, outdoor leadership,",Retail,Philadelphia,Nope,2 months,He/Him,NaN,NaN,2022-10-29 22:14:55,mzpxp2psypsbtt1hcespgmzpxp2p7arl
4,Full-Time Employee,Bike,People Ops,Oregon,Fully Remote,4,80000,/Year,0.0,False,...,Master's Degree; Two certifications to facilit...,Human Resources (seems like it should be an op...,"Bend, OR",Nope,1 months,She/Her,NaN,"50+, LGBTQIA2S+, Woman",2022-10-29 21:58:27,8xv58qt6gkciedqai2v8xv58qt69tmh2

In [193]:
df = df_raw.copy(deep = True)

In [194]:
df.columns

Index(['I am a:', 'Industry', 'Job Title', 'Location', 'Flexibility',
       '# Years', 'Pay', 'I charge per:', 'Bonuses/ Commissions', 'Equity',
       'PTO', 'Training/Education', 'Add'l Qs', 'Benefits', 'OTJ Experience',
       'Starting Pay', 'Specialty expertise', 'Field of work', 'City',
       'Government role?', 'Parental leave ', 'Pronouns', 'Race/Ethnicity',
       'I identify as part of the following communities', 'Submitted At',
       'Token'],
      dtype='object')

In [195]:
# general syntax of loc
# df.loc['row_label', 'column_label']

# If there are multiple labels, they should be specified inside lists:
# df.loc[['row_1', 'row_2'], ['column_1', 'column_2']]

In [196]:
columns_wanted = ['I am a:', 'Industry', 'Location', 'Flexibility', '# Years', 'Pay', 'I charge per:', 'Field of work', 'Submitted At']

In [207]:
df_subset = df.loc[:, columns_wanted]

In [208]:
df_subset.head()

,I am a:,Industry,Location,Flexibility,# Years,Pay,I charge per:,Field of work,Submitted At
0,Full-Time Employee,Active Lifestyle,Oregon,Hybrid/Work From Home,15+,95000,/Year,Marketing & Branding,2022-10-29 22:59:19
1,Full-Time Employee,Running,Colorado,Fully Remote,8,165000,/Year,PR & Communications,2022-10-29 22:56:19
2,Full-Time Employee,Travel/Tourism,California,Fully Remote,5,150000,/Year,Hospitality & Adventure Tourism,2022-10-29 22:23:42
3,Full-Time Employee,Bike,Pennsylvania,In-Office,6,66000,/Year,Retail,2022-10-29 22:14:55
4,Full-Time Employee,Bike,Oregon,Fully Remote,4,80000,/Year,Human Resources (seems like it should be an op...,2022-10-29 21:58:27

In [209]:
df_subset["I am a:"].value_counts()

Full-Time Employee          786
Contract/Seasonal Worker     87
Part-Time Employee           41
Intern                        5
Board Member                  1
Name: I am a:, dtype: int64

In [210]:
df_subset.dtypes

I am a:                  object
Industry                 object
Location                 object
Flexibility              object
# Years                  object
Pay                       int64
I charge per:            object
Field of work            object
Submitted At     datetime64[ns]
dtype: object

In [220]:
df_subset = df_subset.loc[df_subset['I charge per:'] == '/Year']

In [222]:
# Extract the Year from the Submitted At column
df_subset['Year'] = df_subset['Submitted At'].dt.strftime('%Y')

In [223]:
# Rename columns
df_subset.rename(columns = {"# Years": "Years of Experience"}, inplace = True)

In [224]:
df_subset['Years of Experience'].value_counts()

10+                 100
2                    90
1                    72
Less than a year     71
3                    65
4                    62
5                    55
15+                  39
7                    31
6                    29
8                    24
9                    19
20+                  18
25+                   6
30+                   1
Name: Years of Experience, dtype: int64

In [225]:
df_subset['Years of Exp.'] = np.select(
    [
        df_subset["Years of Experience"] == 'Less than a year',
        df_subset["Years of Experience"] == '1',
        df_subset["Years of Experience"] == '2',
        df_subset["Years of Experience"] == '3',
        df_subset["Years of Experience"] == '4',
        df_subset["Years of Experience"] == '5',
        df_subset["Years of Experience"] == '6',
        df_subset["Years of Experience"] == '7',
        df_subset["Years of Experience"] == '8',
        df_subset["Years of Experience"] == '9',
        df_subset["Years of Experience"] == '10+',
        df_subset["Years of Experience"] == '15+',
        df_subset["Years of Experience"] == '20+',
        df_subset["Years of Experience"] == '25+',
        df_subset["Years of Experience"] == '23+' 
    ],
    [
        '0-3 years',
        '0-3 years',
        '0-3 years',
        '0-3 years',
        '4-6 years',
        '4-6 years',
        '4-6 years',
        '7-9 years',
        '7-9 years',
        '7-9 years',
        '10+ years',
        '10+ years',
        '10+ years',
        '10+ years',
        '10+ years'
    ],
    default = 'No Data'
)

In [226]:
df_subset.head(10)

,I am a:,Industry,Location,Flexibility,Years of Experience,Pay,I charge per:,Field of work,Submitted At,Year,Years of Exp.
0,Full-Time Employee,Active Lifestyle,Oregon,Hybrid/Work From Home,15+,95000,/Year,Marketing & Branding,2022-10-29 22:59:19,2022,10+ years
1,Full-Time Employee,Running,Colorado,Fully Remote,8,165000,/Year,PR & Communications,2022-10-29 22:56:19,2022,7-9 years
2,Full-Time Employee,Travel/Tourism,California,Fully Remote,5,150000,/Year,Hospitality & Adventure Tourism,2022-10-29 22:23:42,2022,4-6 years
3,Full-Time Employee,Bike,Pennsylvania,In-Office,6,66000,/Year,Retail,2022-10-29 22:14:55,2022,4-6 years
4,Full-Time Employee,Bike,Oregon,Fully Remote,4,80000,/Year,Human Resources (seems like it should be an op...,2022-10-29 21:58:27,2022,4-6 years
5,Full-Time Employee,Climb,New York,In-Office,9,62000,/Year,Administrative/Virtual Assistance,2022-10-29 21:16:49,2022,7-9 years
6,Contract/Seasonal Worker,Non-Profit,Kentucky,Hybrid/Work From Home,1,81000,/Year,Partnerships & Community,2022-10-29 20:52:11,2022,0-3 years
7,Full-Time Employee,Bike,Colorado,Hybrid/Work From Home,3,85000,/Year,Marketing & Branding,2022-10-29 20:28:26,2022,0-3 years
8,Full-Time Employee,Ski/Snow,Maine,In-Office,15+,75000,/Year,Marketing & Branding,2022-10-29 20:11:12,2022,10+ years
9,Full-Time Employee,Conservation,Georgia,Hybrid/Work From Home,1,117692,/Year,PR & Communications,2022-10-29 19:30:55,2022,0-3 years

In [227]:
df_subset.to_csv("salary_data.csv")

In [228]:
df_subset.Pay.describe()

count       682.000000
mean      75620.224340
std       36065.973116
min           0.000000
25%       53000.000000
50%       68000.000000
75%       88000.000000
max      403950.000000
Name: Pay, dtype: float64

In [229]:
df_subset.Year

0      2022
1      2022
2      2022
3      2022
4      2022
       ...
909    2023
910    2023
914    2023
918    2023
919    2023
Name: Year, Length: 682, dtype: object